body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

ul {
  padding:0px;
  list-style-type:none;
  margin 0px;
}
.grid-item {
}

* { 
  box-sizing:border-box;
}
.grid-item-link{ 
  text-decoration:none;
  color:black;
  display:block;
  height:100%;
  text-align:center;
}
.grid-box {
  margin-top:20px;
  overflow:auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
}
[class*="col-"] {
    float:left;
    padding: 15px;
    border: 2px solid #4FD4C7;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

ul#sublogo {
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
  }

ul#sublogo li {
    list-style:none;
    font-size: 20px;
    text-decoration: none;
    letter-spacing:0.2em;
    line-height:1.6em;
		font-family:amatic sc,cursive;
    font:bold;
}


div#logo a {
    color: #4FD4C7;
    font-size: 65px;
    text-decoration: none;
    letter-spacing:0.2em;
    line-height:1.6em;
		font-family:amatic sc,cursive;
    font:bold;
}

div#header #navigation {
    text-align: right;
}

.navigation {
    color: white;
    font-weight: bold;
    padding:6px;
    padding-left:20px;
    background-color: black;
    border-radius:10px;
}

div#header #badges a {
  float:left;
}
div#header #navbar {
  height:33px;
}

.badge {
  height:35px;

}
div#header #navigation a {
    color: white;
    float:right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
    padding:6px;
    text-decoration: none;
    background-color: black;
    border-radius:10px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
	font-family:amatic sc,cursive;
    font-size: 35px;
}

h2 {
	font-family:amatic sc,cursive;
    font-size: 27px;
    font-weight:normal;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}


