Os eventos promovidos pela Tempere + dão dicas para iniciar a sua horta, são organizados em parques públicos, praças e feiras livres em Goiânia-GO,
 possibilita maior convívio social além de promover um ambiente saudável, ocupando e transformando espaços ociosos na cidade. 
 A Tempere + promove ainda um estímulo para atividades de educação ambiental e de ações  que incentivam o uso das ervas aromáticas para temperos. 
 O cultivo da horta favorece a melhoria nos hábitos alimentares, traz benefícios para o corpo físico e ameniza tensões do dia a dia.
 
$partial("templates/evento-list.html")$
