<div class="row grid-box" >
    $for(eventos)$
        <div class="col-4 grid-item event-description" >
            <ul class=event-description>
              <li> 
                <a class=grid-item-link href="$url$"><h4>$header$</h4>
        <img src="/images/$title$.jpg" style="height:auto; max-height:70px;  width:100px ;border: solid #efefef 1px;" />
                </a>
             </li>
              <li> Data: $start_date$ </li>
              <li> Horário: $horario$ </li>
              <li> Local: $local$ </li>
        </div>
    $endfor$
</div>
